.cart-empty {
    display: block !important;
}

.cart-offcanvas .offcanvas-header {
    border-bottom: 1px solid #ccc;
}

.menu-grid-item .add_to_cart {
    border-radius: 0 0 0px 10px;
}



.hero_section {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 150px;
    margin: 15px;

}

a {
    text-decoration: none;
}

.quantity_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f3f4f4;
    border-top: 1px solid #e9e9e9;
}

.quantity_section .decrease-quantity,
.quantity_section .increase-quantity {
    border: 1px solid #26282a;
    padding: 6px;
    height: 25px;
    background: #26282a;
    color: #fff;
    font-size: 30px;
    border-radius: 5px;
}

.price_section span {
    font-weight: bold;
    font-size: 17px;
}

.btn-secondary {
    border-radius: 5px;
}

.cart-table1 tr {
    border-bottom: 1px solid #e0e0e0;
}

.cart-table1 .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.cart-table1 .actions .btn-quantity {
    display: inline-block;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    padding: 0px 10px;
    cursor: pointer;
    height: 27px;
}

.cart-table1 .actions input {
    width: 50px;
    height: 29px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
}


.cart-table1 .actions .bi-trash-fill {
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin-right: 10px;
    background: #ec0c0c;
    border-radius: 5px;
    height: 25px;
    display: inline-block;
    width: 25px;
    padding-top: 5px;
}


.custom-radio .custom-control-input+.custom-control-indicator {
    display: none !important;
}

.form-control {
    font-size: 15px;
    font-weight: 600;
}

.form-select {
    box-shadow: inset 1px 1px 2px 0 rgba(40, 43, 46, .06);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 300;
    padding: 1rem;
    border: 2px solid #e0e0e0;
    border-radius: 0;
    height: calc(3.25rem + 2px);
}

.select-container:after {
    display: none;
}




#footer .payments {
    display: flex;
    align-items: center;
}

#footer .payments img {
    width: 60px;
    margin-right: 10px;
    margin-left: 10px;
}

.menu-grid-item {
    box-shadow: 0px 0px 10px #dedddd;
    border: none;
}

.menu-grid-item .product-price {
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
}


.categories-container {
    position: relative;
    background: #fff;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 10px;
}

/* إخفاء شريط التمرير */
.categories-container::-webkit-scrollbar {
    display: none;
}

.all_categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    margin: 0;
    width: max-content;

    transition: all 0.3s ease-in-out;
}

/* عندما تصبح القائمة ثابتة */
.fixed-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* لون نشط عند تحديد القسم */
.all_categories li a {
    display: block;
    padding: 7px 15px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    background-color: #282B2E;
    border-bottom: 1px solid #282B2E;
    color: #fff;
    border-radius: 10px;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.all_categories li a.active {
    color: #fff;
    font-weight: bold;

    background: #FBD41D;
}

.product-modal .modal-header {
    padding: 10px 15px;
}

.product-modal .modal-header .modal-title {
    font-weight: bold;
}

.modal-product-details {
    padding: 0;
}

.modal-product-details .product-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.modal-product-details .product-modal-name {
    font-weight: bold;
}

.modal-product-details .product-modal-ingredients {
    font-size: 14px;
    color: #666;
}

#offcanvascart {
    z-index: 9999;
}





/***** Dropdown Menu *****/

/* تصميم زر القائمة */
.module-nav-toggle {
    position: relative;
    cursor: pointer;
}

/* تصميم القائمة المنسدلة */
.dropdown-menu {
    position: absolute;
    top: 50px;
    left: 0;
    background: #282B2E;
    color: white;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 220px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: block;
}

/* عند فتح القائمة */
.dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* عناصر القائمة */
.menu-items {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.menu-items li {
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-items li:last-child {
    border-bottom: none;
}

.menu-items a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.menu-items a i {
    margin-left: 10px;
}

.menu-items a:hover {
    opacity: 0.8;
}


.contact-social {}

.contact-social ul {
    padding: 10px;
    margin: 0;
}

.contact-social li {
    margin-bottom: 10px;
}

.contact-social a {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.contact-social a:hover {
    opacity: 0.8;
}

#header .module-logo.dark {
    background: transparent
}

#header .module-logo {
    padding: 0;
}

.branch-selector {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #181819;
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
    margin-top: 26px;
}
@media(max-width:991px) {
    .branch-selector {
        justify-content: space-between;
    }
}
.branch-selector .mobile_logo{
    width: 60px;
}

.branch-selector .label {
    font-size: 14px;
    margin-left: 8px;
}

.branch-selector button {
    background: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.branch-selector button i {
    margin-left: 5px;
    font-size: 18px;
}

/* تصميم النافذة المنبثقة */
.modal-branch {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
}

.modal-branch h3 {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0;
    margin-top: 19px;
    padding-right: 30px;
    font-weight: bold;
    font-size: 20px;
}

.branch-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.branch-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    padding: 20px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 0px 10px #e8e3e3;
    border: 1px solid #ececec;
    position: relative;
    transition: all 0.3s ease;
    margin-top: 15px;
}

.branch-item:hover {
    background: #f1f1f1;
}

.branch-item .checkmark {
    display: none;
    font-size: 18px;
    color: #28a745;
    /* لون الأخضر عند الاختيار */
}

/* عند تحديد الـ radio، نظهر العلامة */
input[type="radio"]:checked+.branch-item {
    background: #e0ffe0;
    border-color: #28a745;
    box-shadow: 0px 0px 10px #28a74575;
}

input[type="radio"]:checked+.branch-item .checkmark {
    display: inline-block;
}

.branch-item .icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.branch-item .icons i {
    font-size: 18px;
}
@media(max-width:991px) {
    .branch-selector {
        width: 75%;
        margin: auto;
        margin-top: 4px;
    }

}

.menu-grid-item h6 {
    font-size: 18px;
    font-weight: bold;
}



.complete_order {
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
}

.selectbranchModal {
    z-index: 999999;
}

.selectbranchModal .pickup-methods {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.selectbranchModal .pickup-methods label {
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #fad521;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    padding-left: 25px;
    cursor: pointer;
}

.selectbranchModal .pickup-methods label:hover {
    background: #fad521;
    color: #fff;
}

.selectbranchModal .pickup-methods label input {
    opacity: 0;
}

.selectbranchModal .pickup-methods label:has(input:checked) {
    background: #fad521;
    color: #fff;
}

.selectbranchModal .car-info {}

.selectbranchModal .car-info .add-car-btn {
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.menu-grid-item{
    position: relative;
    overflow: hidden;
}
.featured-badge{
    position: absolute;
    top: 10px;
    right: -39px;
    /* background: #fad521 !important; */
    color: #fff;
    /* padding: 5px 27px; */
    border-radius: 0px;
    font-size: 18px;
    transform: rotate(49deg);
    width: 126px;
    font-weight: bold;
}